[Unit]
Description=Desktop alert warning of low remaining battery

[Service]
Type=oneshot
# %h is home directory
ExecStart=%h/dotfiles/scripts/battery-alert.sh

[Install]
WantedBy=graphical.target
